.col-wrap{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}
.col-wrap .column{
    flex: 0 0 49%;
    border: 1px solid #717171;
    border-radius: 5px;
    padding: 16px;
    box-sizing: border-box;
}
.res-wrap{
    border-radius: 5px;
    padding: 8px;
    background-color: #EBF8FE;
    margin-bottom: 16px;
    box-sizing: border-box;
}